/* typography.css */
.k4lt-center {
  justify-content: center;
  align-items: center;
}
.k4lt-between        { justify-content: space-between; }
.k4lt-align-center   { align-items: center; }
.k4lt-justify-center { justify-content: center; }
