<option value="5">&nbsp;+5&nbsp;</option>
<option value="4">&nbsp;+4&nbsp;</option>
<option value="3">&nbsp;+3&nbsp;</option>
<option value="2">&nbsp;+2&nbsp;</option>
<option value="1">&nbsp;+1&nbsp;</option>
<option value="0">&nbsp;0&nbsp;</option>
<option value="-1">-1&nbsp;</option>
<option value="-2">-2&nbsp;</option>
<option value="-3">-3&nbsp;</option>
<option value="-4">-4&nbsp;</option>