<!-- family-viewer.hbs -->
<section class="k4lt-family-viewer">
  <fieldset class="k4lt-sheet-block">
    <legend>
      {{localize "k4lt.ui.Description"}}
    </legend>
    <div class="k4lt-family-text">
      {{{system.description}}}
    </div>
  </fieldset>
</section>