<!-- relationship-viewer-header.hbs -->
<div class="k4lt-grid k4lt-cols-item-header k4lt-gap-sm">
  <div class="k4lt-row-span-3">
    <fieldset class="k4lt-sheet-block k4lt-image-block">
      {{#if item.system.linkedActor}}
        <img src="{{item.system.linkedActor.img}}" class="viewer-img">
      {{else}}
        <img src="icons/svg/mystery-man.svg" class="viewer-img">
      {{/if}}
    </fieldset>
  </div>
  <div class="k4lt-section">
    <fieldset class="k4lt-sheet-block k4lt-name-viewer-block">
      <legend>{{localize (concat "TYPES.Item." item.type)}}</legend>
      <h1>{{item.name}}</h1>
    </fieldset>
  </div>
</div>