<!-- darksecret-sheet.hbs -->
<section class="k4lt-section k4lt-grid k4lt-gap-md">
  <fieldset class="k4lt-sheet-block">
    <legend>{{localize "k4lt.ui.Description"}}</legend>
    {{formInput systemFields.description value=system.description enriched=system.description toggled=true engine="prosemirror"}}
  </fieldset>
</section>