@font-face {
    font-family: "Alverata";
    src:url("../fonts/Alverata.ttf") format("truetype"),
        url("../fonts/Alverata-Bold.ttf") format("truetype"),
        url("../fonts/Alverata-BoldItalic.ttf") format("truetype"),
        url("../fonts/Alverata-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Infidel-C";
    src:url("../fonts/Infidel-C.woff2") format("woff2"),
        url("../fonts/Infidel-C.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
