/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
    --color-text-light-highlight: rgb(153, 138, 97);
    --color-text-light-heading: rgb(129, 116, 81);
    --color-text-light-primary: rgb(100, 105, 75);
    --color-text-hyperlink: rgb(150, 14, 22);
    --color-shadow-primary: rgb(167, 14, 22);
    --color-shadow-highlight: rgb(236, 20, 31);
    --color-border-highlight: rgb(236, 20, 31);
    --color-border-highlight-alt: rgb(167, 14, 22);
    --font-primary: "Alverata", sans-serif;
}

/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
    font-family: "Alverata";
    src:url("../fonts/Alverata.woff2") format("woff2"),
        url("../fonts/Alverata.ttf") format("truetype"),
        url("../fonts/Alverata-Bold.woff2") format("woff2"),
        url("../fonts/Alverata-Bold.ttf") format("truetype"),
        url("../fonts/Alverata-BoldItalic.woff2") format("woff2"),
        url("../fonts/Alverata-BoldItalic.ttf") format("truetype"),
        url("../fonts/Alverata-Italic.woff2") format("woff2"),
        url("../fonts/Alverata-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Infidel-C";
    src:url("../fonts/Infidel-C.woff2") format("woff2"),
        url("../fonts/Infidel-C.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* ----------------------------------------- */
/*  Foundry VTT System Variables             */
/* ----------------------------------------- */
#logo {
    width: 120px;
    height: auto;
    padding-right: 10px;
    content: url("../assets/logo_en.webp");
}
#pause {
    top: 50%;
    background: none;
}
#pause figcaption {
    font-family: "Infidel-C";
    color: rgb(25, 25, 25);
    text-shadow: 0px 0px 30px rgb(150, 140, 108);
}
#pause img {
    content: url("../assets/pause.webp");
    height: 220px;
    width: 220px;
    top: -65px;
    left: calc(50% - 110px);
}
h1,h2,h3 {
    font-family: "Infidel-C";
}
.chat-message.whisper {
    background: rgb(200, 190, 140);
}
.sheet nav.sheet-tabs {
    border-top: none;
}
.tabs {
    justify-content: flex-start;
}

/* ----------------------------------------- */
/*  Modifiers                                */
/* ----------------------------------------- */
.ongoing {
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(150, 140, 106);
    margin-left: 6px;
}
.forward {
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(150, 140, 106);
    margin-left: 8px;
}
.hidden-select {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(224, 219, 204);
}
.hidden-select option {
    color: rgb(155, 32, 31);
}

/* ----------------------------------------- */
/*  Attributes                               */
/* ----------------------------------------- */
.foo {
    text-align: center;
}
.foo:hover {
    color: rgb(168, 14, 18);
}
.attmid {
    background: url(../assets/attributes/middle.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.willpic {
    background: url(../assets/attributes/will.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.willpic:hover {
    background: url(../assets/attributes/will-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fortpic {
    background: url(../assets/attributes/fort.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fortpic:hover {
    background: url(../assets/attributes/fort-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.refpic {
    background: url(../assets/attributes/ref.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.refpic:hover {
    background: url(../assets/attributes/ref-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reasonpic {
    background: url(../assets/attributes/reason.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reasonpic:hover {
    background: url(../assets/attributes/reason-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.reasonpic:hover+.attmid {
    background-image: url(../assets/attributes/middle-left.webp);
}
.intupic {
    background: url(../assets/attributes/intu.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.intupic:hover {
    background: url(../assets/attributes/intu-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.percpic {
    background: url(../assets/attributes/perc.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.percpic:hover {
    background: url(../assets/attributes/perc-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.coolpic {
    background: url(../assets/attributes/cool.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.coolpic:hover {
    background: url(../assets/attributes/cool-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.violpic {
    background: url(../assets/attributes/viol.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.violpic:hover {
    background: url(../assets/attributes/viol-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.chapic {
    background: url(../assets/attributes/cha.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.chapic:hover {
    background: url(../assets/attributes/cha-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.soulpic {
    background: url(../assets/attributes/soul.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.soulpic:hover {
    background: url(../assets/attributes/soul-hover.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.attribute-column table {
    border: none;
}
.attribute-column table tr {
    background-color: transparent;
    border-spacing: 0;
}

.npc-home label {
    font-size: small;
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(150, 140, 106);
}
.npc-home input {
    font-size: larger;
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    border: 1px dashed rgb(150, 140, 106);
}
.npc-type label {
    font-size: small;
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(150, 140, 106);
}
.npc-type input {
    font-size: larger;
    color: rgb(224, 219, 204);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    border: 1px dashed #968c6a;
}

.sheet-header img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.move-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -125px;
}

.blood-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -125px;
}

.blood-img:hover {
    background-size: 0%;
}

.move-result {
    text-shadow: 1px 1px 5px rgb(200, 200, 200), -1px -1px 5px rgb(200, 200, 200);
}

.move-options {
    text-shadow: 1px 1px 5px rgb(200, 200, 200), -1px -1px 5px rgb(200, 200, 200);
}


.move-roll:hover {
    color: rgb(168, 14, 18);
}

.tox-toolbar__group {
    zoom: 90%;
}

/* ----------------------------------------- */
/*  Attributes                               */
/* ----------------------------------------- */
.two-column-wound {
    display: flex;
    flex-direction: row;
}
.wound {
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px dashed #968c6a;
}
.serious-wounds {
    margin-bottom: 5px;
}
.critical-wound {
    margin-top: 15px;
}
.titlecaption {
    padding-top: 30px;
}
.woundcaption {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border: 1px dashed #968c6a;
}

.advantage-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    align-items: top;
}

.advantage-box div {
    width: 100%;
}

.attribute-box input {
    width: 40px;
}

.navigation-section {
    border-top: 1px solid #968c6a;
    border-bottom: 1px solid #968c6a;
    vertical-align: middle;
    padding-top: 5px;
}

.choice:hover {
    background-color: #9b201f;
    color: #968c6a
}

.choice {
    background-color: #968c6a;
    color: #9b201f;
    font-size: 1.2rem;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.move-info input {
    width: 30px;
}

.move-info a {
    vertical-align: middle
}



.spec {
    padding: 5px;
    width: 120px;
}


.item-list {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.move-card {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgb(150, 140, 106);
    background-color: rgb(27, 27, 27);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 97%;
    break-inside: avoid;
    color: rgb(153, 138, 97);
}

.actor-picture {
    background-color: rgb(83, 83, 83, 0.5);
    position: relative;
    height: 324px;
    width: 200px;
    transform: rotate(-5deg);
    transition: transform 0.5s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    float: left;
    border: 1px;
    object-fit: cover;
    margin-right: 10px;
}

.actor-picture:hover {
    transform: rotate(0deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bottom-section .move-list {
    columns: 250px;
}

.bottom-section {
    border-bottom: 1px solid #968c6a;
}

.item-control {
    float: right;
    margin-left: 5px;
    zoom: 75%;
}

.item-show {
    margin-top: 2px;
}

.fas {
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}

.middle-section {
    display: flex;
    align-items: top;
    border-top: none;
}

input {
    background-color: black;
}

.weapon-column {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

div.stability-section {
    text-align: center;
    font-size: large;
    padding-top: 10px;
}

div.right-middle-column {
    overflow: hidden;
    padding: 15px;
    max-width: 280px;
}

.flex-container {
    display: flex
}

.flex-column {
    flex: 1
}

.top-section {
    margin: -1px 0px 5px;
    align-items: center;
}

.section-label {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px #968c6a;
    border-bottom: 1px solid #968c6a;
    text-align: center;
    font-size: large;
}

.move-name {
    text-align: center;
    margin-top: 3px;
    font-size: large;
    text-shadow: 1px 1px 5px rgb(150, 140, 106), -1px -1px 5px rgb(150, 140, 106);
}

.result-roll {
    background-color: #9b8d68;
    color: black;
    text-align: center;
    margin-top: 3px;
    font-size: large;
}

.tooltip {
    position: relative;
    display: inline-block;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.stabilized {
    float: right;
    margin-left: 10px;
}

td textarea {
    width: 300px;
    height: 150px;
    color: #9b8d68 !important;
}

.hidden {
    display: none;
}

.tox-tinymce {
    height: 100px;
    min-height: 100px;
}

.move-card-text {
    padding-left: 3px;
    vertical-align: middle;
}

.move-card img {
    vertical-align: middle;
    padding-bottom: 3px;
    height: 20px;
    width: 20px;
    border: 0px;
}

.kult-sheet {
    background: url(../assets/background-sheet.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10px;
    color: rgb(32, 32, 32);
    border: none;
}

.wound-section select {
    background-color: #782e22;
}

.wound-section input {
    background-color: white;
    width: 100%;
}

.stability-section .fas {
    color: #968c6a;
}

.stability-section select {
    opacity: .8;
    margin: 8px 5px;
    width: calc(100% - 55px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: medium;
}

.editor {
    height: 100%;
    min-height: 100px;
}

.editor-content {
    height: 100%;
    min-height: 100px;
    padding: 8px;
}

.tox.tox-tinymce .tox-edit-area__iframe {
    background: rgb(255, 255, 255, 0.75);
    border-top: 1px solid #968c6a;
}

.free-text {
    padding: .4rem;
    height: 100%;
    text-align: left;
    color: rgb(0, 0, 0);
}

.free-text .editor-content {
    text-shadow: -2px -2px 5px rgb(224, 220, 210), 2px -2px 5px rgb(224, 220, 210), -2px 2px 5px rgb(224, 220, 210), 2px 2px 5px rgb(224, 220, 210);
    padding: 0;
}

.modifier-section {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 5px #968c6a;
    border: none;
    padding: 5px;
}

.attribute-box {
    color: rgb(0, 0, 0);
    border: 1px;
    border-style: solid;
    border-color: #948c68;
    text-align: center;
    vertical-align: text-top;
    font-style: oblique;
    font-size: 10px;
}

.modifier-section {
    display: flex;
    align-items: top;
}

.wound-entries div {
    display: flex;
    align-items: center;
    margin: 5px;
}

.wound-section {
    display: flex;
}

.wound-section input {
    color: gray;
}

.two-column {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.two-column>div {
    width: 50%;
    margin-right: 5px;
}

.weapon-card {
    width: 100%;
}

.weapon-card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.two-column .section-label {
    text-align: center;
}

.wound-name {
    background-color: #782e2200;
    opacity: .8;
    width: calc(100% - 2px);
    min-width: 20px;
    height: 26px;
    border-radius: 3px;
    border: 0px solid #968c6a;
}

.attribute-column {
    padding: 15px;
    padding-top: 10px;
}

.attribute-box select {
    color: rgb(30, 30, 30);
    font-size: large;
    appearance: none;
    outline: none;
    border: none;
    cursor: inherit;
}

.stabilized {
    float: right;
}

.character-name input {
    color: #9b201f;
    text-indent: 4px;
    border: none;
    background-color: transparent;
    padding-left: 20px;
}

.character-name>input {
    width: 98% !important;
}

.character-detail {
    padding: 5px;
}

.details {
    vertical-align: top;
    flex: 1;
    display: flex;
    padding-left: 20px;
}

.character-detail input {
    color: #9b201f;
    width: 100px;
    border: 1px solid #968c6a;
}

input.short-input {
    width: 70px;
}

.advantage-column {
    display: block;
    margin-left: 5px;
}




.kult-item-sheet {
    padding: 5px;
}

.kult-item-sheet>div {
    margin-bottom: 10px;
}

.kult-item-sheet label {
    font-size: 16px;
    font-weight: bold;
}

.kult-item-sheet .editor-row {
    background-color: transparent !important;
}

.kult-item-sheet .editor {
    border: 1px solid #968c6a;
    padding: 5px;
    margin-bottom: 10px;
}

.kult-item-flex {
    display: flex;
    justify-content: space-between;
}

.endure-harm-dialog {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.endure-harm-dialog #harm_value {
    width: auto;
    margin-left: 10px;
}

.kult-item-sheet .tokens-container {
    display: flex;
    align-items: center;
}

.kult-item-sheet .tokens-container>label,
.kult-item-sheet .tokens-container>input {
    margin-right: 10px;
}

.kult-item-sheet .tokens-counter {
    width: 80px;
}

.npc-harm-taken {
    margin-bottom: .4rem;
    padding-bottom: .4rem;
    text-align: left;
    border-bottom: 1px dashed rgba(148, 140, 104, 50%);
}

.tabs > [data-tab].active {
    text-shadow: none;
    color: rgb(224, 219, 204);
}

.actor .token-icon {
    width: 66px;
    height: 66px;
}
  
.actor-extra-info {
    font-size: 0.9em;
    color: rgb(136, 136, 136);
    margin-top: -32px;
}

.directory .directory-item img {
    height: auto;
}

/* ----------------------------------------- */
/*  Conditions                               */
/* ----------------------------------------- */

.condition-checkbox {
    width: 25x;
    height: 25px;
    cursor: pointer;
    margin-right: 5px;
    border: 1px dashed #968c6a;
}

.condition-count {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(224, 219, 204);
    position: relative;
    top: -1px;
    right: -5px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 25px;
}

.condition-section {
    font-size: 1.25em;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.condition-question {
    color: #9b201f;
    border-bottom: 1px solid #9b201f;
    text-align: left;
    font-size: 1.25em;
    padding-left: 10px;
    text-shadow: 0px 0px 5px #968c6a;
}

.condition-hold {
    display: block;
    margin-left: 80%;
    font-size: 1.25em;
    margin-top: 7px;
    margin-bottom: 5px;
}

/* ----------------------------------------- */
/*  Advancement                               */
/* ----------------------------------------- */

.advancement-checkbox {
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: 1px dashed #968c6a;
    margin-right: 5px;
}

.advancement-line {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.advancement-input {
    width: 25px !important;
}

.tab-content {
    margin-top: 10px;
}

.advancement-title {
    color: rgb(40, 40, 40);
    text-shadow: 0px 0px 5px #968c6a;
    border-bottom: 1px solid #968c6a;
    text-align: left;
    font-size: 1.25em;
    padding-left: 10px;
}

.advancement-info {
    margin-top: 5px;
    margin-bottom: 2px;
}

.advancement-sub-heading {
    font-size: 1.25em;
    margin-top: 7px;
    margin-bottom: 2px;
}

.advancement-section {
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
}








/* .k4lt.ap-tracker {
    position: absolute;
    display: block;
    margin: 5px;
    bottom: 20px !important;
    right: 320px !important;
  }
  
  .k4lt.ap-tracker .ap-resource {
    position: relative;
    padding: 10px 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  
  .k4lt.ap-tracker .ap-resource.gm {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%22-1%20-1%20300%20100%22%20width%3D%22300%22%20height%3D%22100%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M0%20100l274.1-9.92L300%2013.01%208.51%200%200%20100z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20fill%3D%22%23325885%22%20fill-opacity%3D%221%22%20stroke%3D%22%23325885%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .k4lt.ap-tracker .ap-resource.party {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%23689575'%20fill-opacity%3D'1'%20stroke%3D'%23689575'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .k4lt.ap-tracker .ap-resource.maxAP-box {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'none'%20viewBox%3D'-1%20-1%20300%20100'%20width%3D'300'%20height%3D'100'%3E%3Cdefs%3E%3Cpath%20d%3D'M13.24%20100l268.5-5.03L300%209.35%200%200l13.24%20100z'%20id%3D'a'%2F%3E%3C%2Fdefs%3E%3Cuse%20xlink%3Ahref%3D'%23a'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23a'%20fill%3D'%236b759f'%20fill-opacity%3D'1'%20stroke%3D'%236b759f'%20stroke-width%3D'2'%2F%3E%3C%2Fsvg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .k4lt.ap-tracker .ap-resource .toggle-maxAp {
    position: absolute;
    top: 8px;
    right: 5px;
    color: beige;
  }
  
  .k4lt.ap-tracker .ap-resource:last-child {
    margin-bottom: 0;
  }
  
  .k4lt.ap-tracker .ap-resource h4 {
    margin: 0 0 2px 0;
    color: bisque;
  }
  
  .k4lt.ap-tracker .ap-resource input[type="number"] {
    margin: 0 5px;
    font-size: 16px;
  }
  
  .k4lt.ap-tracker .ap-resource .ap-btn {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 6px;
  } */